/*
==UserCSS==
@name             Netflix subtitle style
@version          2023-12-03
@author           oliver-moeller
@match            https://www.netflix.com/*
==/UserCSS==
*/

.player-timedtext > .player-timedtext-text-container > span > span {
  --outline-color: #111111;
  -webkit-text-stroke: var(--outline-color) 11px;
  paint-order: stroke fill;
  filter: drop-shadow(2px 3px 0px var(--outline-color));
  font-family: "Trebuchet MS" !important;
}
